In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('cardio_train.csv',sep=';')

In [3]:
df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [4]:
x = df.iloc[:,:-1]
x.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active
0,0,18393,2,168,62.0,110,80,1,1,0,0,1
1,1,20228,1,156,85.0,140,90,3,1,0,0,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0
3,3,17623,2,169,82.0,150,100,1,1,0,0,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0

In [5]:
y = df.iloc[:,12]
y.head()

0    0
1    1
2    1
3    1
4    0
Name: cardio, dtype: int64

# Univariate feature selection

In [6]:
from sklearn.feature_selection import SelectKBest

In [7]:
from sklearn.feature_selection import f_classif

In [8]:
skb = SelectKBest(score_func = f_classif)

In [9]:
skb.fit(x,y)

SelectKBest()

In [10]:
sc_col = pd.DataFrame(skb.scores_,columns = ['Score Value'])

In [11]:
nm_col = pd.DataFrame(x.columns)

In [12]:
top_fe = pd.concat([nm_col,sc_col],axis= 1)

In [13]:
top_fe

              0  Score Value
0            id     1.010461
1           age  4209.007957
2        gender     4.603641
3        height     8.197397
4        weight  2388.777887
5         ap_hi   208.339524
6         ap_lo   303.629011
7   cholesterol  3599.361137
8          gluc   562.772977
9         smoke    16.790541
10         alco     3.761355
11       active    89.091494

In [14]:
top_fe.nlargest(8,'Score Value')

              0  Score Value
1           age  4209.007957
7   cholesterol  3599.361137
4        weight  2388.777887
8          gluc   562.772977
6         ap_lo   303.629011
5         ap_hi   208.339524
11       active    89.091494
9         smoke    16.790541

In [15]:
x = df.drop(['id','gender','height','alco'],axis=1)

In [16]:
x.head()

     age  weight  ap_hi  ap_lo  cholesterol  gluc  smoke  active  cardio
0  18393    62.0    110     80            1     1      0       1       0
1  20228    85.0    140     90            3     1      0       1       1
2  18857    64.0    130     70            3     1      0       0       1
3  17623    82.0    150    100            1     1      0       1       1
4  17474    56.0    100     60            1     1      0       0       0

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size = .30,random_state=1)

In [18]:
from sklearn.ensemble import RandomForestClassifier

In [20]:
rfc = RandomForestClassifier()

In [25]:
rfc.fit(xtrain,ytrain)

RandomForestClassifier()

In [27]:
rfc.score(x,y)

1.0

In [28]:
rfc.score(xtest,ytest)

1.0